*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 80%;
    gap: 20px;
    margin: 0 auto;
}

.flex-section{
   border: 1px solid rgb(190, 186, 186);
   width: 32%;
    
}

.img-size{
    height: 550px;
    width: 100%;
}

.text-align{
    text-align: center;   
}

.description-padding{
    padding-left: 10px;
}

h2{
    margin-bottom: 30px;
}
